<% if @business_groups.count >= 1 %>
  <table>
    <thead>
      <tr class="table-titles">
        <th class="col-md-3">Nombre</th>
        <th class="col-md-1">Empresas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @business_groups.each do |business_group| %>
          <td><%=business_group.name %></td>
          <td><%=business_group.business_units.count %></td>
          <td class="col-md-1">
            <%= link_to business_group_path(business_group) do %>
              <i class="fa fa-plus-circle link-to-details" aria-hidden="true"></i>
              <span class="link-to-details">Ver</span>
            <% end %>
          </td>
      </tr>
        <% end %>
    </tbody>
  </table>
<% else %>
  <p class="individual-font">Aún no hay grupos de empresas registrados</p>
<% end %>
