
  <h2 class="info-title">Nombre del Grupo de negocios </h2>

  <div class="show-container" id="billing-container">

    <p>
      <strong>Nombre: </strong>
      <%= @business_group.name %>
    </p>

</div>
