<p><strong>cantidad final: </strong>
  <%= @request.final_quantity %>
</p>

<p><strong>fecha de finalización de la producción: </strong>
  <%= @request.date_finished %>
</p>

<p><strong>precio de venta: </strong>
  <%= @request.sales_price %>
</p>
