<%= form_for(@request) do |f| %>

  <div class="form-container">

    <div class="field form-inside-style">
      <%= f.label :precio_de_venta %>
      <%= f.text_field :sales_price, class: 'form-inside' %>
    </div>

    <div class="button-container">
      <div class="actions">
      <%= f.submit :asignar_precio, name: 'asignar_precio', class: 'main-button', data: { disable_with: "Por favor espere mientras se procesa su solicitud..." } %>
      </div>
    </div>
  </div>

<% end %>
