<body class="<%= params[:action] %>">

  <button type="button" name="button" class="btn btn-primary" id="show">Mostrar detales</button>

  <div class="hidden" id="information">
    <%= render 'info' %>
  </div>

  <%= render 'confirm' %>

  <%= render 'links_for_confirm'%>
</body>
