<body class="<%= params[:action] %>">

  <button type="button" name="button" id="show" class="secondary-button-small">Mostrar detalles</button>

  <div class="hidden" id="information">
    <%= render 'info' %>
  </div>

  <%= render 'confirm' %>

</body>
