
<div class="container-home">

  <p class="home-welcome"> Bienvenido a </p>

  <%= image_tag 'sistema-dc-3-inv.png', class: 'big-logo-home'%>

  <div class="logos">
    <%= image_tag 'logo-disenos-decarton.png', class: 'medium-logo'%>
    <%= image_tag 'Mosaic-tech.png', class: 'medium-small-logo' %>
  </div>

</div>
