  <h2 class="info-title">Unidad de negocio </h2>

  <div class="show-container">

    <p>
      <strong>Nombre: </strong>
      <%= @business_unit.name %>
    </p>

    <p>
      <strong>Grupo: </strong>
      <%= @business_unit.business_group.name %>
    </p>

</div>
