.authorisation-img {
  height: 110px;
  margin-left: 30px;
  margin-right: 10px;
}

.icon-img {
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 7px;
  margin-right: 7px;
}

.text-wrapper {
  margin-top: -120px;
  width: 350px;
  text-align: left;
  margin-left: 520px;
}

.text-wrapper > p {
  font-size: 1.8rem;
}
.first-wrapper {
  width: 80vw;
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.left {
  text-align: left;
}

.table-head-row {
  border: 1px solid black;
}

.wrapper {
  margin-top: 30px;
  display: flex;
}

.authorisation-table {
  margin-top: 50px;
  margin-left: 5px;
}

.data {
  padding: 2rem 0rem;
}

.col-md-half,
.col-md-one,
.col-md-two {
  padding: 0.5rem 0rem;
}

.icon-sidebar {
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 50px;
}

.signature {
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
}

.signature > p {
  padding-left: 15px;
}

.authorisation-table > table {
  text-align: center;
  margin-left: 10px;
  margin-right: 30px;
  border-collapse: collapse;
}

.center-title {
  color: #296DB2;
}

.padding {
  padding-left: 1rem;
}

.divider,
.first-row,
.first-row-data {
  border: 1px solid black;
}

.column-subtotal {
  border-left:  1px solid black;
  border-bottom: 1px solid black;
}

.right {
  text-align: right;
  margin-right: 4rem;
}

.last-row {
  border-bottom: 1px solid black;
}

.column-left {
  border-left:  1px solid black;
  border-right:  1px solid black;
}

.column-right {
  border-left:  1px solid black;
  border-right:  1px solid black;
  border-bottom: 1px solid black;
}

.col-md-half,
.col-md-one,
.col-md-two {
  text-align: center;
}

.table-row,
.col-md-half,
.col-md-one,
.col-md-two,
.doc-p,
.data {
  font-size: 1.8rem;
}

.indent {
  margin-left: 50px;
}

.center,
.center > strong > p {
  text-align: center;
}

.col-md-two {
  width: 35%;
}

.col-md-one {
  width: 15%;
}

.col-md-half {
  width: 8%;
}

.bottom > strong > p,
.bottom > p {
  font-size: 1.8rem;
  line-height: 0.7;
}
