td {
  vertical-align: middle !important;
  padding: 0 auto !important;
  margin: 0 auto !important;
}

.select-margin {
  margin-top: 0 !important;
}

span.select2-selection.select2-selection--multiple {
    min-width: 50px !important;
}

#top-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: darkred;
}

.top-right {
  margin-top: -285px;
  margin-bottom: 40px;
  width: 650px;
  text-align: left;
  margin-left: 850px;
}

.no-break {
  display: inline !important;
}

.top-right-preview {
  margin: 0 auto;
  text-align: left;
  margin-left: 200px;
}

.left {
  text-align: left !important;
}

.img-bill {
  margin-left: 50px;
  width: 45%;
  height: auto;
}

img.img-bill-preview {
  position: absolute;
  left: 330px;
  top: 100px;
  width: 400px;
  margin-left: 12%;
}

#bill > div > p,
#bill > div > p > span,
.quantity--letters > p,
.title-cfdi,

.grow {
  font-size: 2.5rem;
}

.middle {
  font-size: 2.1rem;
}

.header-main {
  text-align: center;
  background-color: #364150;
  color: #fff;
}

.quantities-table {
  margin: 0 auto;
  margin-left: 3%;
}

.header-main-preview {
  text-align: center;
  background-color: #364150;
  color: #fff;
}

.header-main-preview:hover,
.header-main-preview:focus {
  text-align: center;
  background-color: #364150;
  color: #fff;
}

.space {
  padding: 0.5rem;
  text-align: center;
}

.space-preview {
  padding: 0.5rem 0.5rem;
  text-align: center;
}

.center {
  text-align: center;
}

.title-cfdi  {
  font-weight: bold;
  text-align: center;
}

.header {
  margin-bottom: 0.5rem;
}

.header-preview {
  margin-bottom: 0.5rem;
}

.second-table {
  margin-bottom: 40px;
}

#issuing-receiving-table-preview,
.second-table-preview {
  margin-left: 4.5rem;
  width: 95%;
  margin-bottom: 10px;
}

#issuing-receiving-table-preview > thead > tr > th, {
  border: 2px solid #fff;
}

#issuing-receiving-table-preview > tbody > tr > td.first {
  border-right: 2px solid #fff;
}

.two-columns-one-header,
#issuing-receiving-table,
#issuing-receiving-table > thead > tr > th,
.two-columns-one-header > thead > tr > th {
  border: 2px solid #fff;
}

#issuing-receiving-table > tbody > tr > td.first,
.two-columns-one-header > tbody > tr > td.first,
.second-table > tbody > tr > td.first {
  border-right: 2px solid #fff;
}

#issuing-receiving-table > tbody > tr > td,
.two-columns-one-header > tbody > tr > td {
  padding-left: 2rem;
}

.right {
  text-align: right;
}

.main-header {
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.border-around {
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.half {
  width: 50%;
  padding-left: 2rem;
  padding-right: 1rem;
  vertical-align: top;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.all {
  width: 100%;
  padding-left: 2rem;
  padding-right: 1rem;
  vertical-align: top;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.second-table,
#issuing-receiving-table,
.two-columns-one-header {
  width: 100%;
}

.ligth-bg {
  background-color: lightgray;
}

.ligth-bg-preview {
  background-color: #D4D8D7;
}

.ligth-bg-preview:hover,
.ligth-bg-preview:active {
  background-color: #D4D8D7;
}

.border-top {
  border-top: 1px solid black;
}

.final-total {
  padding-left: 2rem;
  padding-top: 0.8rem;
  padding-right: 1rem;
}

.letter {
  padding: 0 1rem;
}

.center > strong > p {
  text-align: center;
}

.bottom > strong > p,
.bottom > p {
  font-size: 2rem;
  line-height: 1;
}

.title-cfdi > span {
  font-weight: normal;
}

.fiscal-folio {
  width: 655px;
}

.fiscal-folio > p {
  font-size: 2.5rem;
}

.break {
  word-wrap: break-word;
}

.global-rows {
  margin-left: 40px;
  margin-top: 30px;
}

.margin-top-bill {
  margin-top: 30px;
}

thead, tfoot {
  display: table-row-group;
}

tr {
    page-break-inside: avoid;
}

.with-bg {
  background-color: #364150;
  color: #fff;
  padding: 0.5rem 0;
}

.certificate {
  width: 500px;
}

.certificate > p {
  text-align: left;
  line-height: 1.4;
  font-size: 2.3rem;
}

.bill-first-footer {
  vertical-align: middle;
}

.digital-stamp > p {
  font-size: 2.4rem;
}

.smaller {
  font-size: 2.3rem;
  text-align: center;
}

.first-stamp {
  margin-top: 80px;
}

#first,
#second,
#third {
  line-height: 1.2;
}

.footer {
  text-align: center;
  margin-bottom: 20px;
}

.digital-stamp {
  margin-bottom: 30px;
}

span.select2-selection.select2-selection--multiple {
  min-width: 200px;
}

.download-icon {
  height: 30px;
  width: auto;
}

.download-icon-table {
  height: 30px;
  width: auto;
}

.download-icon-table-mini {
  width: auto;
  height: 30px;
  padding-right: 5px;
}

.width-minimum {
  max-width: 200px;
}
