table#qr-table {
border-width: 0;
border-style: none;
border-color: #0000ff;
border-collapse: collapse;
margin: 22px;
}

td.black,
td.white {
 border-width: 0;
 border-style: none;
 border-color: #0000ff;
 border-collapse: collapse;
 padding: 0;
 margin: 0;
 width: 4px;
 height: 4px;
}

td.black { background-color: #000; }
td.white { background-color: #fff; }
