// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
  padding-right: 1.5rem;
}

.hidden {
  display: none;
}

.document-icon {
  width: 5rem;
  height: 5rem;
  padding: 2px;
  border: solid 1px #EFEFEF;
  box-shadow: 1px 1px 5px #999;
  border-radius: 100%;
}

.document-link-area {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
}

.modal-content {
  z-index: 50000;
}

#no-margin {
  margin-left: 0
}

.modal-body {
  border-bottom: none;
  border: none;
}

.modal-header {
  border-bottom: none;
}

h4#myModalLabel {
  color: #D72638;
  font-size: 24px;
}

h4#myModalLabelGreen {
  color: #009CB7;
  font-size: 24px;
}
