/*Esto es solo para que el logo se haga pequeño */
.logo {
  height: 40px;
  margin: 5px 0px;
}
/*Esto es solo para que el logo se haga pequeño */

.row {
  margin: 0 auto;
}

.navbar--vertical {
  background-color: #1C3144;
  height: 100%;
  display: block;
}


/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
/*Aquí termina la barra de navegación sencilla */
