html{
 height:100vh;
 min-height:100vh;
 }

body {
  overflow-x:hidden;
  min-height:100vh;
}

label {
  padding-right: 1.5rem;
}

button.close {
  padding-left: 1rem;
}

button#btn-notice {
  padding-right: 1.5rem;
}

table#payment-average {
  margin-bottom: 100px !important;
}

.head-blue {
  background-color: #00B3D3;
  color: #fff;
}

[id^=redAddOn] {
  padding-bottom: 7px;
  background-color: #D72638;
  border: 1px solid #D72638;
  color: #fff;
}

.red-icon {
  color: #D72638;
  padding-right: 5px;
  padding-left: 5px;
}

[id^=redAddOn]:hover,
[id^=redAddOn]:active,
[id^=redAddOn]:focus {
  padding-bottom: 7px;
  background-color: #B21C2B;
  border: 1px solid #B21C2B;
  color: #fff;
}

.flex-inline {
  display: flex;
  flex-wrap: nowrap;
}

input[value="Generar factura"] {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  background-color: #00B3D3;
  height: 50px;
  padding: 0 2.5rem;
  border: none;
  border-radius: 0%;
  box-shadow: none;
  color: #fff;
}

input[value="Generar factura"]:hover,
input[value="Generar factura"]:active,
input[value="Generar factura"]:visited,
input[value="Generar factura"]:focus {
  color: #0288D1;
}

input#boxesQuantity {
    margin-left: 1rem;
    display: inherit;
    text-align: center;
}

.align-rigth {
  text-align: right;
}

.tableInsideModal {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.link-extra-space {
  margin-right: 1rem;
}

.group_fields {
  width: 600px;
  display: flex;
  wrap: nowrap;
  margin: 0 auto;
  margin-top: 30px;
}

.wide-selector {
  width: 90%
}

.extra-margin-top {
  margin-top: 2rem !important;
}

.group_fields > div {
  padding-left: 20px;
}

.no-border {
  border-bottom: none !important;
}

.small-address {
  width: 150px;
}

.product-select-2 {
  margin-top: 1.5rem !important;
}

.width-450 {
  width: 450px !important;
}

select#report_type,
select#options,
select#initial_date,
select#final_date,
select#products,
select#information {
  background-color: #fff !important;
  color: #000 !important;
}

.img-bill {
  margin-left: 50px;
  width: 45%;
  height: auto;
}

.close-icon {
  margin-left: 4px;
  margin-right: 4px;
  border-radius:50%;
  width: 16px;
  height: 16px;
  background-color: #FF7474;
  display: flex;
  align-items: center;
  vertical-align: middle;
  z-index: 100;
}

.close {
  margin-left: -7.5px !important;
  margin-bottom: 5.5px;
  color: #fff;
}

.close-icon:hover,
.close-icon:focus {
  background-color: #D72638;
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
  width: 450px !important;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.center-close {
  margin: 0 auto !important;
  padding: 0 auto !important;
  font-size: 12px !important;
  opacity: 1 !important;
  color: #fff;
}

.white-light {
  margin: 0 auto !important;
  padding: 0 auto !important;
  color: #fff;
  font-weight: normal;
}

.flex-table {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.flex-table > a {
  padding-right: 1rem;
  padding-left: 1rem;
}

.img-container {
  display: flex;
  justify-content: center;
}

.blue-background {
  background-color: #009CB7;
  border: solid 1px #009CB7;
  color: #fff;
}

.extra-padding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 2rem;
}

.extra-margin-top {
  margin-top: 4rem;
}

.sales-summary-icon {
  height: 30px;
  width: auto;
}

.payments-summary > thead > tr > th,
.payments-summary > tbody > tr > td {
  padding: 0.5rem 1rem;
}

.payments-summary {
  margin-left: 57%;
}

.less-margin {
  margin-left: 53% !important;
}

span.next_line {
    display: block;
    padding-bottom: 1.3rem;
}

.align-center {
  vertical-align: middle;
}

input.center-input {
  text-align: center;
}

.extra-margin {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

#notice {
background-color: #3BE524;
opacity: .70;
z-index: 30;
position: absolute;
top: 8vh;
right: 0vh;
font-family: 'Open Sans', sans-serif;
padding: 2rem;
color: #fff;
}

.tax-regime {
  margin-bottom: 20px;
}

.alert {
background-color: #D72638;
opacity: .80;
z-index: 30;
position: absolute;
top: 8vh;
right: 0vh;
font-family: 'Open Sans', sans-serif;
padding: 2rem;
color: #fff;
}

.delivery-address-form {
  width: 25vw;
  height: 50vh;
}

.store-subtitle{
  width: inherit;
}

.store-container {
  width: 30vw;
}

.space {
  display: block;
  height: 15vh;
}
.document-icon {
  width: 5rem;
  height: 5rem;
  padding: 2px;
  border: solid 1px #EFEFEF;
  box-shadow: 1px 1px 5px #999;
  border-radius: 100%;
}

.document-link-area {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
}

#no-margin {
  margin-left: 0
}

.modal-body {
  border-bottom: none;
  border: none;
}

.modal-header {
  border-bottom: none;
}

h4#myModalLabel {
  color: #D72638;
  font-size: 24px;
}

h4#myModalLabelGreen {
  color: #009CB7;
  font-size: 24px;
}

.hidden {
  display: none;
}

.flex  {
  display: flex;
  margin: 0;
  padding: 0 0;
}

p.info,
p.info > strong {
  color: #273B4F;
}

.red {
  color: #D72638;
}

.red-headder {
  background-color: #D72638 !important;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

#order_user_ids {
    background-color: #fff;
    border: 1px solid lightgray;
}

.searh-products-form {
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 3%;
}

.info-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  position: absolute;
  left: 24vw;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  border-radius: 5%;
}

#prospect-container {
  width: 40vw;
  margin-left: 20vw;
}

#prospect-container > p,
#billing-container > p,
#delivery-container > p,
#supplier-container > p,
#products-container > p,
#stores-container > p {
  padding: 1rem 3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
}

#billing-container > p {
  padding: 1rem 3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
}

.long-form {
  padding-left: 10vw;
  padding-right: 10vw;
}

.info-title {
  font-family: 'Open Sans', sans-serif;
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2.5rem;
  color: #009CB7;
}

.info-subtitle {
  font-family: 'Open Sans', sans-serif;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.greeting {
  padding-left: 1.5rem;
  margin: 0;
}

.username {
  text-transform: capitalize;
  padding-left: 0.5rem;
  margin: 0;
}

.center-text {
  text-align: center;
}

.green {
  background-color: #8DF41F !important;
}

[id^=vincularSupplier] {
  border: none;
}

.centered {
  display: inline-block !important;
  margin-left: 20vw;
  margin-right: 0;
  margin-top: 10vh;
  padding: 0;
  text-align: center;
  width: 75vw;
/*  z-index: 5; */
}

.white {
  color: #fff;
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  height: 30vh;
  justify-content: center;
}

.clear-options {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  justify-content: center;
}

.clear-options-n-wrap {
  display: flex;
  flex-wrap: nowrap;
  width: 75vw;
  justify-content: center;
}

.clear-options > div {
  padding: 1rem 15rem;
}

.show-container {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  justify-content: center;
  margin: 0 4rem;
}

.center-field {
  padding-top: 8rem;
  vertical-align: middle;
}

.img-carousel {
  width: 15vw;
  height: auto;
  margin-top: 1rem;
  padding: 0 auto;
  margin-bottom: 7rem;
}

#img-title-prod {
  margin-top: 2.5rem;
}

.show-container > p {
  padding-right: 3rem;
}

.bolsa,
.outer,
.inner,
.exhibidor,
.otros,
.product,
.ahotirisation,
.impresssion-second-div,
.impression {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.padding-top {
  padding-top: 3rem;
}

.observations-notes, .observations-notes > textarea {
  width: 60rem;
  vertical-align: middle;
}

.individual-font {
  font-family: 'Open Sans', sans-serif;
}

a.individual-font {
  font-size: 2rem;
  padding: 1rem;
}

.impresssion-div {
  display: flex;
  justify-content: center;
  max-width: 75vw;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.document-link-area {
  display: flex;
  width: 75vw;
  justify-content: center;
  vertical-align: middle;
}

.document-link-area > a {
  padding: 0 0.5rem;
}

#edit-request-button-container,
#confirm-cost-div,
#dudas-div {
  height: 12vh;
}

#request-container {
  font-family: 'Open Sans', sans-serif;
}

.button-container {
  width: 70vw;
  height: 30vh;
  margin: 0 auto;
}

.form-container > h3, h4 {
  width: 75vw;
  color: #273B4F;
  text-align: center;
}

.show-container > h3, h4, h2 {
  width: 75vw;
  color: #273B4F;
  text-align: center;
}

.centered-without-margin {
  position: relative;
  margin-left: 15vw;
  margin-right: 15vw;
  padding: 0;
  text-align: center;
  width: 70vw;
  vertical-align: middle;
/*  z-index: 5; */
}

textarea:focus, input:focus{
  outline: none;
}

input.main-button{
  color: #EAEFEE;
}

input.form-inside,
textarea.form-inside {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #009CB7;
}

.field {
  padding: 0;
  margin: 0;
}

select {
  margin-top: 1.5rem;
}

.form-inside-style > label {
  text-align: left;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #545454;
}

label#label-form-que-desea {
  text-align: left;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #545454;
}

.form-inside-style {
  text-align: left;
  margin-left: 5rem;
}

select {
    background-color: #F5F2F7;
    border: none;
    box-shadow: none;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 3rem;
    padding-left: 1rem;
    border-radius: 10px;
    color: #009CB7;
}

.form-inside {
  margin-top: 1rem;
  height: 6vh;
  min-height: 40px;
  margin-bottom: 1rem;
  box-shadow: none;
  border-bottom: 3px;
  background-color: #F5F2F7;
  border: none;
  border-bottom: 3px;
  text-align: left;
  border-radius: 10px;
}

.long-sign-in {
  width: 30vw;
  min-height: 40px;
  height: 8vh;
  margin-bottom: 2rem;
  box-shadow: none;
  border-bottom: 3px;
  background-color: #fff;
  opacity: .95;
  border: none;
}

.sign-in {
  text-align: center;
}

::-webkit-input-placeholder, input.long-sign-in {
   text-align: center;
   font-size: 1.8rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   color: #009CB7;
}

:-moz-placeholder, input.long-sign-in  { /* Firefox 18- */
   text-align: center;
   font-size: 1.8rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   color: #009CB7;
}

::-moz-placeholder, input.long-sign-in  {  /* Firefox 19+ */
   text-align: center;
   font-size: 1.8rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   color: #009CB7;
}

:-ms-input-placeholder, input.long-sign-in {
   text-align: center;
   font-size: 1.8rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   color: #009CB7;
}

.welcome-img {
  height: 100vh;
  z-index: 0;
  margin: 0;
  position: absolute;
}

.container-log-in {
  margin-top: 15vh;
  background-color: #EAEFEE;
  opacity: .70;
  width: 40vw;
  margin-left: 33vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 1rem;
  border-radius: 1.5%;
/*  z-index: 3; */
  position: absolute;
}

.second-logo {
  position: absolute;
  z-index: 1;
  width: 13vw;
  bottom: -95vh;
  right: -13vw;
}

.main-button {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  background-color: #00B3D3;
  height: 50px;
  padding: 0 2.5rem;
  border: none;
  border-radius: 0%;
  box-shadow: none;
}

.third-button {
  /*faltan cambios */
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  background-color: #D72638;
  color: #fff;
  height: 50px;
  padding: 0 2.5rem;
  border: none;
  border-radius: 0%;
  box-shadow: none;
  opacity: .95;
}

.justify {
  text-align: justify;
}

.button-margin {
  margin-top: 5rem;
}

.modal-dialog {
  margin-top: 10vh;
}
.main-button-small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  background-color: #00B3D3;
  padding: 0.5rem;
  border: none;
  border-radius: 0%;
  box-shadow: none;
  color: #fff;
  vertical-align: middle;
}

.background-img {
  background-image: url('/assets/slide-2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: #232c37;
}

.secondary-button {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  background-color: #BAFF29;
  height: 50px;
  padding: 0 2.5rem;
  border: none;
  border-radius: 0%;
  box-shadow: none;
  color: #364150;
}

.secondary-button-small {
  margin-left: 2rem;
  font-size: 1.2rem;
  background-color: #BAFF29;
  padding: 1rem;
  border: none;
  border-radius: 15px;
  box-shadow: none;
  color: #364150;
  vertical-align: middle;
}

.main-button:hover,
.secondary-button:hover,
.secondary-button-small:hover,
.third-button:hover {
  color: #0288D1;
}

.container-log-in {
  margin-top: 15vh;
  background-color: #EAEFEE;
  opacity: .70;
  width: 40vw;
  margin-left: 33vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 1rem;
  border-radius: 1.5%;
  /* z-index: 3; */
  position: absolute;
}


.container-home {
  margin-top: 15vh;
  width: 58vw;
  margin-left: 10vw;
}

.big-logo-home {
  width: 60vw;
/*  z-index: 100; */
  padding-bottom: 1rem;
}

.home-welcome {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  color: #0288D1;
}

.sign-in-title {
  margin-top: 8rem;
}

.medium-logo {
  height: 8vh;
  margin: 0;
  padding: 0 18rem;
  display: inline-flex;
}

.medium-small-logo {
  height: 7.5vh;
  margin: 0;
  padding-right: 18rem;
  padding-left: 18rem;
  display: inline-flex;
}
.logos {
  display: flex;
  width: 45vw;
  justify-content: center;
  margin-left: 8vw;
  height: 20vh;
}

table {
  margin-left: 0.5vw;
  text-align: center;
  margin-bottom: 8rem;
}

th {
  text-align: center;
}


a.link {
  display: block;
  padding: 0.5rem;
}

.link-to-details:hover, .link-to-details:active {
  color: #0288D1;
}

.title-request {
color: #0288D1;
}

.custom-link-bottom {
  padding: 2rem;
}

.table-titles, .table-titles:hover {
  background-color: #D72638;
  opacity: .85;
  color: #fff;
  height: 4rem;
}

img.small-img {
  max-height: 30vh !important;
  width: auto !important;
}

.img-td {
  height: 10vh;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}

td {
  height: 3rem;
}

a.close-icon {
  z-index: 10000;
}

tr.no-shadow {
  background-color: none;
  opacity: 1;
}

tr.image-tr:hover {
  background-color: #fff;
  opacity: 1;
}


.link-to-price {
  color: #D72638;
  text-decoration: none;
}

.link-to-confirm {
  color: #97DB06;
  text-decoration: none;
}

i.fa-plus-square {
  font-size: 1.5rem;
}

th.table-titles {
  text-align: center;
  vertical-align: middle;
}

th.col-md-3, th.col-md-1, th.col-md-2 {
  vertical-align: middle;
  text-align: center;
}

i.fa {
/*  z-index: 35; */
}

h2.reg-title {
  top: 10rem;
  width: 40vw;
  vertical-align: middle;
  padding-top: 2rem;
  margin-bottom: 3rem;
  margin-right: 20vw;
  padding: 0 auto;
  display: block;
  text-align: center;
}

@media only screen and (max-width: 700px) {

  .background-img {
    background-image: url('/assets/slide-2.jpg');
    background-attachment: fixed;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #232c37;
  }

  ::-webkit-input-placeholder, input.long-sign-in {
    width: 55vw;
    font-size: 2rem;
  }

  :-moz-placeholder, input.long-sign-in  { /* Firefox 18- */
    width: 55vw;
    font-size: 2rem;
  }

  ::-moz-placeholder, input.long-sign-in  {  /* Firefox 19+ */
    width: 55vw;
    font-size: 2rem;
  }

  :-ms-input-placeholder, input.long-sign-in {
    width: 55vw;
    font-size: 2rem;
  }

  .sign-in-tittle-div {
    width: 70vw;
  }

  img.second-logo {
    height: 10vh;
    width: auto;
  }

  .navbar-default .navbar-nav > li > a {
    color: #232c37;
  }

  .container-log-in {
      width: 70vw;
      margin-left: 0;
    }

    h2.reg-title {
      width: 70vw;
      font-size: 2.5rem;
  }

  label {
      font-size: 1.5rem;
  }

  a.link {
      font-size: 1.5rem;
  }

}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
/*  z-index: 9999; */
  background: url("Preloader.gif") center no-repeat #fff;
}

.remove_margin{
  margin: 0;
}

.table-titles-inventories > th {
  padding: 0.5rem 1rem;
}

.table-titles-inventories, .table-titles-inventories:hover {
  background-color: #D72638;
  opacity: .85;
  color: #fff;
  height: 4rem;
}

th.table-titles-inventories {
  text-align: center;
  vertical-align: middle;
  border-bottom: none !important;
}

#inventory_wrapper {
  margin-left: 20px;
}

th.sorting_asc {
  border-bottom: none !important;
}

th.sorting {
  border-bottom: none !important;
}

.expand {
  width: 100px;
}
