body {
  overflow-x:hidden;
}

label {
  padding-right: 1.5rem;
}

.hidden {
  display: none;
}

button.close {
  padding-left: 1rem;
}

button#btn-notice {
  padding-right: 1.5rem;
}

#notice {
background-color: #3BE524;
opacity: .70;
z-index: 30;
position: absolute;
top: 8vh;
right: 0vh;
font-family: 'Open Sans', sans-serif;
padding: 2rem;
color: #fff;
}

.alert {
background-color: #D72638;
opacity: .80;
z-index: 30;
position: absolute;
top: 8vh;
right: 0vh;
font-family: 'Open Sans', sans-serif;
padding: 2rem;
color: #fff;
}

.space {
  display: block;
  height: 15vh;
  color: red;
}
.document-icon {
  width: 5rem;
  height: 5rem;
  padding: 2px;
  border: solid 1px #EFEFEF;
  box-shadow: 1px 1px 5px #999;
  border-radius: 100%;
}

.document-link-area {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
}

.modal-content {
  z-index: 50000;
}

#no-margin {
  margin-left: 0
}

.modal-body {
  border-bottom: none;
  border: none;
}

.modal-header {
  border-bottom: none;
}

h4#myModalLabel {
  color: #D72638;
  font-size: 24px;
}

h4#myModalLabelGreen {
  color: #009CB7;
  font-size: 24px;
}

.hidden {
  display: none;
}

.flex  {
  display: flex;
  margin: 0;
  padding: 0 0;
}

p.info,
p.info > strong {
  color: #273B4F;
}

.red {
  color: #D72638;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.info-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  position: absolute;
  left: 24vw;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  border-radius: 5%;
}

#prospect-container {
  width: 40vw;
  margin-left: 20vw;
}

#prospect-container > p,
#billing-container > p,
#delivery-container > p {
  padding: 1rem 3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
}

#billing-container > p {
  padding: 1rem 3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
}

.long-form {
  padding-left: 10vw;
  padding-right: 10vw;
}

.info-title {
  font-family: 'Open Sans', sans-serif;
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2.5rem;
  color: #009CB7;
}

.info-subtitle {
  font-family: 'Open Sans', sans-serif;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.greeting {
  padding-left: 1.5rem;
  margin: 0;
}

.username {
  text-transform: capitalize;
  padding-left: 0.5rem;
  margin: 0;
}

.centered {
  display: inline-block !important;
  margin-left: 20vw;
  margin-right: 0;
  margin-top: 10vh;
  padding: 0;
  text-align: center;
  width: 75vw;
  z-index: 5;
}

.white {
  color: #fff;
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  height: 30vh;
  justify-content: center;
}

.show-container {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  justify-content: center;
  margin: 0 4rem;
}

.center-field {
  padding-top: 8rem;
  vertical-align: middle;
}

.img-carousel {
  width: 15vw;
  height: auto;
  margin-top: 1rem;
  padding: 0 auto;
  margin-bottom: 7rem;
}

#img-title-prod {
  margin-top: 2.5rem;
}

.show-container > p {
  padding-right: 3rem;
}

.bolsa,
.outer,
.inner,
.exhibidor,
.otros,
.product,
.ahotirisation,
.impresssion-second-div,
.impression {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.padding-top {
  padding-top: 3rem;
}

.observations-notes, .observations-notes > textarea {
  width: 60rem;
  vertical-align: middle;
}

.individual-font {
  font-family: 'Open Sans', sans-serif;
}

.impresssion-div {
  display: flex;
  justify-content: center;
  width: 75vw;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.document-link-area {
  display: flex;
  width: 75vw;
  justify-content: center;
  vertical-align: middle;
}

.document-link-area > a {
  padding: 0 0.5rem;
}

#edit-request-button-container,
#confirm-cost-div,
#dudas-div {
  height: 12vh;
}

#request-container {
  font-family: 'Open Sans', sans-serif;
}

.button-container {
  width: 70vw;
  height: 30vh;
  margin: 0 auto;
}

.form-container > h3, h4 {
  width: 75vw;
  color: #273B4F;
  text-align: center;
}

.show-container > h3, h4, h2 {
  width: 75vw;
  color: #273B4F;
  text-align: center;
}

.centered-without-margin {
  position: relative;
  margin-left: 15vw;
  margin-right: 15vw;
  padding: 0;
  text-align: center;
  width: 70vw;
  vertical-align: middle;
  z-index: 5;
}

textarea:focus, input:focus{
  outline: none;
}

input.main-button{
  color: #EAEFEE;
}

input.form-inside,
textarea.form-inside {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #009CB7;
}

.field {
  padding: 0;
  margin: 0;
}

select {
  margin-top: 1.5rem;
}

.form-inside-style > label {
  text-align: left;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #545454;
}

label#label-form-que-desea {
  text-align: left;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #545454;
}

.form-inside-style {
  text-align: left;
  margin-left: 5rem;
}

select {
    background-color: #F5F2F7;
    border: none;
    box-shadow: none;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 3rem;
    padding-left: 1rem;
    border-radius: 10px;
    color: #009CB7;
}

.form-inside {
  margin-top: 1rem;
  height: 6vh;
  min-height: 40px;
  margin-bottom: 1rem;
  box-shadow: none;
  border-bottom: 3px;
  background-color: #F5F2F7;
  border: none;
  border-bottom: 3px;
  text-align: left;
  border-radius: 10px;
}

.long-sign-in {
  width: 30vw;
  min-height: 40px;
  height: 8vh;
  margin-bottom: 2rem;
  box-shadow: none;
  border-bottom: 3px;
  background-color: #fff;
  opacity: .95;
  border: none;
}

.sign-in {
  text-align: center;
}

::-webkit-input-placeholder, input.long-sign-in {
   text-align: center;
   font-size: 1.8rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   color: #009CB7;
}

:-moz-placeholder, input.long-sign-in  { /* Firefox 18- */
   text-align: center;
   font-size: 1.8rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   color: #009CB7;
}

::-moz-placeholder, input.long-sign-in  {  /* Firefox 19+ */
   text-align: center;
   font-size: 1.8rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   color: #009CB7;
}

:-ms-input-placeholder, input.long-sign-in {
   text-align: center;
   font-size: 1.8rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   color: #009CB7;
}

.welcome-img {
  height: 100vh;
  z-index: 0;
  margin: 0;
  position: absolute;
}

.container-log-in {
  margin-top: 15vh;
  background-color: #EAEFEE;
  opacity: .70;
  width: 40vw;
  margin-left: 33vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 1rem;
  border-radius: 1.5%;
  z-index: 3;
  position: absolute;
}

.second-logo {
  position: absolute;
  z-index: 1;
  width: 13vw;
  bottom: -95vh;
  right: -13vw;
}

.main-button {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  background-color: #00B3D3;
  height: 50px;
  padding: 0 2.5rem;
  border: none;
  border-radius: 0%;
  box-shadow: none;
}

.third-button {
  /*faltan cambios */
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  background-color: #D72638;
  color: #fff;
  height: 50px;
  padding: 0 2.5rem;
  border: none;
  border-radius: 0%;
  box-shadow: none;
  opacity: .95;
}

.modal-backdrop.fade.in{
  z-index: 0;
}

.modal-backdrop.fade.in {
  z-index: 0;
}

.justify {
  text-align: justify;
}

.button-margin {
  margin-top: 5rem;
}

.modal-dialog {
  margin-top: 10vh;
}
.main-button-small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  background-color: #00B3D3;
  padding: 0.5rem;
  border: none;
  border-radius: 0%;
  box-shadow: none;
  color: #fff;
  vertical-align: middle;
}

.background-img {
  background-image: url('/assets/slide-2.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: 100vw auto
}

.secondary-button {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  background-color: #BAFF29;
  height: 50px;
  padding: 0 2.5rem;
  border: none;
  border-radius: 0%;
  box-shadow: none;
  color: #364150;
}

.secondary-button-small {
  margin-left: 2rem;
  font-size: 1.2rem;
  background-color: #BAFF29;
  padding: 1rem;
  border: none;
  border-radius: 15px;
  box-shadow: none;
  color: #364150;
  vertical-align: middle;
}

.main-button:hover,
.secondary-button:hover,
.secondary-button-small:hover,
.third-button:hover {
  color: #0288D1;
}

.container-log-in {
  margin-top: 15vh;
  background-color: #EAEFEE;
  opacity: .70;
  width: 40vw;
  margin-left: 33vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 1rem;
  border-radius: 1.5%;
  z-index: 3;
  position: absolute;
}

.container-home {
  margin-top: 15vh;
  width: 58vw;
  margin-left: 10vw;
}

.big-logo-home {
  width: 60vw;
  z-index: 100;
  padding-bottom: 1rem;
}

.home-welcome {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  color: #0288D1;
}

.sign-in-title {
  margin-top: 8rem;
}

.medium-logo {
  height: 8vh;
  margin: 0;
  padding: 0 18rem;
  display: inline-flex;
}

.medium-small-logo {
  height: 7.5vh;
  margin: 0;
  padding-right: 18rem;
  padding-left: 18rem;
  display: inline-flex;
}
.logos {
  display: flex;
  width: 45vw;
  justify-content: center;
  margin-left: 8vw;
  height: 20vh;
}

table {
  margin-left: 0.5vw;
  text-align: center;
  margin-bottom: 8rem;
}

th {
  text-align: center;
}


a.link {
  display: block;
  padding: 0.5rem;
}

.link-to-details:hover, .link-to-details:active {
  color: #0288D1;
}

.title-request {
color: #0288D1;
}

.custom-link-bottom {
  padding: 2rem;
}

.table-titles, .table-titles:hover {
  background-color: #D72638;
  opacity: .85;
  color: #fff;
  height: 4rem;
}

img.small-img {
  max-height: 30vh !important;
  width: auto !important;
}

.img-td {
  height: 10vh;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}

td {
  height: 3rem;
}

tr:hover {
  background-color: #F4F9F8;
  opacity: .99;
}

tr.no-shadow {
  background-color: none;
  opacity: 1;
}

tr.image-tr:hover {
  background-color: #fff;
  opacity: 1;
}


.link-to-price {
  color: #D72638;
  text-decoration: none;
}

.link-to-confirm {
  color: #97DB06;
  text-decoration: none;
}

i.fa-plus-square {
  font-size: 1.5rem;
}

th.table-titles {
  text-align: center;
  vertical-align: middle;
}

th.col-md-3, th.col-md-1, th.col-md-2 {
  vertical-align: middle;
  text-align: center;
}

i.fa {
  z-index: 35;
}

h2.reg-title {
  top: 10rem;
  width: 40vw;
  vertical-align: middle;
  padding-top: 2rem;
  margin-bottom: 3rem;
  margin-right: 20vw;
  padding: 0 auto;
  display: block;
  text-align: center;
}
