<!-- Begin of Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if @request.status == 'cancelada' %>
          <h4 class="modal-title" id="myModalLabelBlue">Reactivar solicitud</h4>
        <% else %>
          <h4 class="modal-title" id="myModalLabel">¿Deseas cancelar esta solicitud?</h4>
        <% end %>
      </div>
      <div class="modal-body">
        <% if @request.status != 'cancelada' %>
          <%= render 'cancel' %>
        <% elsif @request.status == 'cancelada' %>
          <%= render 'reactivate' %>
        <% elsif @design_request.status == 'diseño elaborado' %>
          <%= render 'confirm design' %>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- End of Modal -->
