<!-- Begin of Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Confirmar diseño</h4>
      </div>
      <div class="modal-body">
        <%= render 'confirm_design' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" type="button" data-dismiss="modal" aria-label="Close">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal -->
