<script type="text/template" class="template">
  <td id='description_{{= rc.id}}'>{{= rc.description }}</td>
  <td id='image_{{= rc.id}}'><a href="{{= rc.link }}" ><img src="{{= rc.image }}" alt="{{= rc.description }}" /></a></td>
  <td id='numbers_{{= rc.id}}'><input type='text' id='numProduct_{{= rc.id }}' /></td>
  <td id='add{{= rc.id}}'><a href='#' id='addNew{{= rc.id }}' class='btn btn-primary'>Agregar Nuevo</a></td>
</script>
