<td>
  <a href="javascript:;" class="close-icon" id="close_icon_">
  </a>
  <p>
    <%= text_field_tag 'id[]', nil, {class: 'form-control ids hidden'} %>
  </p>
</td>
<td id="description_" class="center-text"></td>
<td> <%= text_field_tag 'quantity[]', nil, {class: 'form-control quantity center-input'} %> </td>
<td id="kg_field_" class="hidden"> <%= text_field_tag 'kg[]', nil, {class: 'form-control kg center-input'} %> </td>
<td> <%= text_field_tag 'reason[]', nil, {class: 'form-control reason center-input'} %> </td>
