<div class="show-container" id="billing-container">

  <h2 class="info-title">Detalles del Almacén</h2>

  <p> <strong>Código: </strong>
    <%= @warehouse.warehouse_code %>
  </p>

  <p> <strong>Código: </strong>
    <%= @warehouse.name %>
  </p>

  </div>
