<div class="show-container" id="billing-container">

  <h2 class="info-title">Detalles del Almacén</h2>

  <p> <strong>Código: </strong>
    <%= @warehouse.warehouse_code %>
  </p>

  <p> <strong>Nombre: </strong>
    <%= @warehouse.name %>
  </p>

  <p> <strong>Empresa: </strong>
    <%= @warehouse.business_unit.name %>
  </p>

  <p> <strong>Grupo de negocio: </strong>
    <%= @warehouse.business_group.name%>
  </p>

  </div>
